@font-face {
  font-family: 'Mercury-display';
  src: url('../fonts/Mercury-Display-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mercury-text-g1';
  src: url('../fonts/Mercury\ Text\ G1\ Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mercury-text-g2';
  src: url('../fonts/Mercury\ Text\ G2\ Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mercury-text-g3';
  src: url('../fonts/Mercury\ Text\ G3\ Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mercury-text-g4';
  src: url('../fonts/Mercury\ Text\ G4\ Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
