// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Fonts

// Colors
$color-gold: #b4841f;
$color-black: #252525;
$color-pure-black: #000;
$color-light-grey: #f6f6f6;