// Screen sizes
$screen-sm: 576px;
$screen-md: 815px;
$screen-lg: 992px;
$screen-xl: 1400px;

// Fonts

// Colors
$color-gold: #b4841f;
$color-gold-fade: #b4851f4e;
$color-gold-light: #d4d4d4;
$color-black: #252525;
$color-dark-grey-2: #363636;
$color-dark-grey-1: #616161;
$color-grey: #b0b0b0;
$color-pure-black: #000;
$color-light-grey: #f6f6f6;
$color-white: #fff;
$color-hightlight-1: #f0f0ef;