@import '../../sass/variables';

.share-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__label {
    color: $color-grey;
    font-family: "Gotham Narrow Bold", sans-serif;
    text-transform: uppercase;

    &--footer {
      color: $color-white;
      margin: 0 0 1rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: $color-gold;

    &--footer {
      color: $color-grey;
    }
  }

  &__icon {
    cursor: pointer;

    &:hover {
      color: $color-dark-grey-1;
    }
  }

  
}