@import '../../sass/variables';

.home {
  position: relative;
  height: 100vh;

  &__parallax-banner {
    height: 100vh;

    & > div {
      filter: brightness(50%)
    }
  }

  &__parallax-title {
    color: $color-dark-grey-1;
    text-shadow: 5px 5px 10px $color-black;
    position: absolute;
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__parallax-button {
    background: $color-white;
    box-shadow: 5px 5px 10px $color-black;
    padding: 1.5rem 8rem;
    border: none;
    border-radius: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &:hover {
      color: $color-white;
      border: none;
      background: $color-dark-grey-1;
      box-shadow: none;
      cursor: pointer;
    }
  }
}
