@import '../../sass/variables';
@import '../../sass/mixims';
@import '../../sass/animation';

.home-container {
  margin: 0;
  background-color: $color-pure-black;
}

.home-books {
  color: $color-white;
  font-family: "Mercury-text-g1", sans-serif;
  font-size: 16px;
  line-height: 30px;
  background-color: transparent;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

  @include mdMinBreakPoint {
    min-height: 30px;
  }

  &__content {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include mdMinBreakPoint {
      padding: 40px 180px;
    }

    @include xlMinBreakPoint {
      padding: 60px 300px;
    }
  }

  &__img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter:  opacity(40%) blur(2px);
    -webkit-animation: kenburns-top 10s ease-out both;
    animation: kenburns-top 10s ease-out both;
  }

  &__title {
    font-family: "Mercury-text-g1";
    color: $color-white;
    text-shadow: 0 0 10px $color-black;
    font-size: 60px;
    text-align: center;
    font-weight: 200;

    @include mdMinBreakPoint {
      font-size: 48px;
    }
  }

  &__subtitle {
    color: $color-dark-grey-1;
    text-shadow: 0 0 10px $color-black;
    font-size: 24px;
  }

  &__button {
    background: $color-grey;
    box-shadow: 5px 5px 10px $color-black;
    padding: 1rem 2rem;
    border: none;
    border-radius: none;
    transition: 0.3s;
    color: $color-black;
    text-decoration: none;
    text-align: center;

    @include mdMinBreakPoint {
      padding: 1.5rem 8rem;
    }

    &:hover {
      background-color: $color-gold;
      cursor: pointer;
    }

    @include mdMinBreakPoint {
      padding: 8px 24px;
    }
  }
}
