@import '../../sass/variables';

.search-page {
  background-color: $color-white;

  &__info {
    font-family: "Mercury-display", sans-serif;
    font-size: 32px;
    padding-top: 3rem;
    text-align: center;
  }

  &__no-results {
    font-family: 'Gotham Narrow Bold';
    text-transform: uppercase;
    font-size: 32px;
    padding: 5rem 0;
    text-align: center;
  }

  &__title {
    &--bold {
      font-family: 'Gotham Narrow Bold';
    }
  }
}