@import '../../sass/variables';
@import '../../sass/mixims';

.book-page {
  display: flex;
  flex-direction: column-reverse;

  @include smMinBreakPoint {
    flex-direction: row;
  }

  &__left{
    width: 100%;
    background-color: $color-white;
    padding: 32px 16px;

    @include smMinBreakPoint {
      width: 65%;
    }

    @include mdMinBreakPoint {
      padding: 48px 48px;
    }

    @include xlMinBreakPoint {
      padding: 48px 250px;
    }

    &__author {
      color: $color-gold;
      font-family: "Gotham Narrow Bold", sans-serif;
    }

    &__title {
      color: $color-black;
      font-family: "Mercury-text-g1", sans-serif;
      font-size: 40px;
    }

    &__description {
      color: $color-grey;
      font-family: "Mercury-display";
    }
  }

  &__right {
    width: 100%;
    background-color: $color-light-grey;
    z-index: 10;

    @include smMinBreakPoint {
      width: 35%;
    }

    @include xlMinBreakPoint {
      padding-right: 250px;
    }
    
    &__img {
      max-width: 100%;
      width: 200px;
      margin-top: 48px;
      margin-bottom: 48px;

      &--container {
        background-color: $color-black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        margin-bottom: 24px;
      }
    }
  }
}
