@import '../../sass/mixims';

.collections-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  padding: 0 2.5rem 2.5rem;

  &__title {
    text-align: center;
    padding: 1rem 0;
       
    @include mdMinBreakPoint {
      padding: 2rem 0 2rem;
    }

    @include xlMinBreakPoint {
      padding: 4rem 0 2rem;
    }
  }
}