@import '../../sass/variables';
@import '../../sass/mixims';

.collection {

  &__title {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    padding: 0 2.5rem 2.5rem;
    background-color: $color-white;

    @include mdMinBreakPoint {
      padding: 8rem 0;
    }
  }
}