@import '../../sass/variables';
@import '../../sass/mixims';

.collection-container {
  background-color: $color-white;
  padding: 1rem 2rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 310px;
  transition: 0.3s;

  &:hover {
    background-color: $color-hightlight-1
  }

  &:hover > .collection-container__element {
    background-color: $color-black;
  }

  @include mdMinBreakPoint {
    min-width: 210px;
  }

  &__title {
    color: $color-gold;
    text-transform: uppercase;
  }

  &__element {
    background-color: $color-dark-grey-1;
    width: 100px;
    height: 100px;
    transition: 0.3s;

  }

  &__subtitle {
    color: $color-grey;
  }
}